<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head(#{com.blogapp.articles.title})"></head>
<body>
<header th:insert="fragments/fragments :: navbar"></header>
<main>
    <div class="container my-5">

        <div class="text-center my-5"><h1 th:text="#{com.blogapp.articles.welcome}"></h1></div>

        <div th:each="article:${pageOfArticles.content}" class="card mb-3" >
            <div class="card-body">
                <h5 th:text="${article.title}" class="card-title"></h5>
                <small th:text="${article.category}" class="text-muted" ></small>
                <p th:text="${article.content}" class="card-text mt-2 text-ellipsis"></p>
                <div class="card-text d-flex justify-content-between">
                    <small class="text-muted">15 comments</small>
                    <a th:href="@{/blog/article/(id=${article.id})}"
                       th:text="#{com.blogapp.articles.read.more}"
                       class="btn btn-outline-dark"></a>
                </div>
            </div>
        </div>

        <div th:replace="fragments/fragments :: paginator(${pageOfArticles})"></div>

    </div>
</main>

<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>